body {
    background-color: rgb(114, 117, 134)
}
#titulo {
    color: rgba(240, 255, 240, 0.8);
    text-align: center;
}
#header {
    text-align: right;
    color: rgba(240, 255, 240, 0.8);
    font: 28px "Times New Roman";
    margin: 0px 40px 0px 0px;
    
}
#itens {
    display: inline;

    
}
#itens .posição{
    text-align: right;
    margin: 0px 40px 20px 0px;
 
}
#itens .contatos{
    color: rgba(240, 255, 240, 0.514);
    font: 19px "Times New Roman";
    
}
#itens .email{
    color: rgba(240, 255, 240, 0.514);
    font: 19px "Times New Roman";
    
}
#itens .telefone{
    color: rgba(240, 255, 240, 0.514);
    font: 19px "Times New Roman";
}

#text {
    text-align: center;
    padding: 5px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.100);
 
}
#text .titulo {
    color: rgba(240, 255, 240, 0.7);
    font: 24px "Times New Roman";
}
#text .paragrafo {
    color: rgba(240, 255, 240, 0.6);
    margin-left: 80px;
    font: 18px "Times New Roman";
    text-align: justify;
}
#footer {
    text-align: center;
    background-color: rgba(127, 134, 165, 0.35);
    
}
#footer .text {
    color: rgba(240, 255, 240, 0.6);
    font: 16px "Times New Roman";
    
}

@media(max-width: 600px) {

}